#       .o8
#      "888
#  .oooo888   .ooooo.  oooo    ooo  .ooooo.   .ooooo.  ooo. .oo.  .oo.   oo.ooooo.
# d88' `888  d88' `88b  `88.  .8'  d88' `"Y8 d88' `88b `888P"Y88bP"Y88b   888' `88b
# 888   888  888ooo888   `88..8'   888       888   888  888   888   888   888   888
# 888   888  888    .o    `888'    888   .o8 888   888  888   888   888   888   888
# `Y8bod88P" `Y8bod8P'     `8'     `Y8bod8P' `Y8bod8P' o888o o888o o888o  888bod8P'
#                                                                         888
#                      ~/.gitcon                                         o888o

[user]
        signingkey = 23CD97ABBBCC5ED2
        email = hi@devcomp.xyz
        name = CompeyDev

[commit]
        gpgsign = true

[filter "lfs"]
        clean = git-lfs clean -- %f
        smudge = git-lfs smudge -- %f
        process = git-lfs filter-process
        required = true

[gpg]
        program = gpg

[core]
        autocrlf = false
        pager = delta

[interactive]
        diffFilter = delta --color-only

[delta]
        navigate = true    # use n and N to move between diff sections
        light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
        conflictstyle = diff3

[diff]
        colorMoved = default
